<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <groups>
   <run>
     <exclude name = "Regression"></exclude>
   </run>
 </groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="FrontDesk.POS_Test"/>
       <class name="FrontDesk.Apptadmintest"/>
      
      <class name="FrontDesk.Addguesttest"/>
      <class name="FrontDesk.ReportTest"/>
      <class name="FrontDesk.QuicksalerenewalTest"/>
      <class name="FrontDesk.Membermanager"/>
      <class name="FrontDesk.QuickSales_newmember"/>
      <class name="i4_JOL.JOLTest"/>
      <class name="FrontDesk.MSSTest"/>
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
